<!-- <h1 class="text-w">{{ nombre | titlecase }}</h1>
<h1 class="text-w">{{ valor | number }}</h1>
<h1 class="text-w">{{ obj | json }}</h1>

<button
  pButton
  class="p-button-help p-button-outlined"
  type="button"
  (click)="mostrarNombre()"
  label="Click"
  icon="pi pi-check"
  iconPos="right"
></button>

<p-card [header]="nombre | titlecase" subheader="esto es un subheader">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab omnis
  perspiciatis necessitatibus eligendi porro corporis adipisci ad cum debitis,
  sed ex mollitia rem. Rerum maxime deleniti eos quaerat similique placeat.
</p-card> -->
<app-menu></app-menu>
